{% extends "base.html" %}

{% block title %}
Books | Dog-Eared Bookstore
{% endblock %}

{% block content %}
    <h1>Books</h1>

    {% for book in books %}
        <div>
            <h2>{{ book.name }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>Category: {{ book.category.name }}</p>
            <p>Price: €{{ book.price }}</p>

            <a href="{% url 'book_detail' book.slug %}">
                View details
            </a>
        </div>
    {% empty %}
        <p>No books available.</p>
    {% endfor %}
{% endblock %}